<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobvoi.robot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".HealthCare.AlarmReceiver" />

        <activity android:name=".HealthCare.BloodPressure.BloodPressureActivity" />
        <activity android:name=".HealthCare.BloodGlucose.BloodGlucoseActivity" />
        <activity android:name=".HealthCare.Temperature.TemperatureActivity" />
        <activity android:name=".recipeActivity" />
        <activity android:name=".storyActivity" />
        <activity android:name=".pictureActivity"></activity>
    </application>

</manifest>